﻿@model List<LeagueProject.Models.Participant>
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="PostNewBasketballPlayer2" asp-controller="Dashboard" method="POST">
<div class="form-group">
    <select name="ParticipantId">
    @{
            if(Model  != null)
            {
                foreach(LeagueProject.Models.Participant i in Model)
                {
                    <option value="@i.ParticipantId">
                        @i.ParticipantFirstName @i.ParticipantLastName id number: @i.ParticipantId
                    </option>
                }                    
            }
    }
    </select>
</div>
<button class="btn btn-outline-info mt-5" type="submit">Sign up</button>
</form>